# Project 4 – Predicting a Continuous Target with Regression: Titanic Dataset
**Name:** Lindsay Foster 
**Date:** 11/11/2025
- This project builds on the Titanic dataset used in Project 3. This project will predict fare and the amount of money paid for the journey. This will predict a continuous numeric target.

# Section 1: Import and Inspect the Data

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.linear_model import ElasticNet, LinearRegression, Ridge
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures

In [2]:
# Load Titanic dataset from seaborn and verify
titanic = sns.load_dataset("titanic")
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

# Section 2: Data Exploration and Preparation

In [6]:
titanic["age"] = titanic["age"].fillna(titanic["age"].median())

titanic = titanic.dropna(subset=["fare"])

titanic["family_size"] = titanic["sibsp"] + titanic["parch"] + 1

In [5]:
# Convert sex to numeric (male = 0, female = 1)
titanic["sex_num"] = titanic["sex"].map({"male": 0, "female": 1})

# Convert embarked to numeric codes
titanic["embarked_num"] = titanic["embarked"].astype("category").cat.codes

# Section 3: Feature Selection and Justification

In [7]:
# Case 1. age
X1 = titanic[["age"]]
y1 = titanic["fare"]

In [8]:
# Case 2. family_size
X2 = titanic[["family_size"]]
y2 = titanic["fare"]

In [9]:
# Case 3. age, family_size
X3 = titanic[["age", "family_size"]]
y3 = titanic["fare"]

In [10]:
# Case 4. passenger class
X4 = titanic[["pclass"]]
y4 = titanic["fare"]

## Reflection
- Why might these features affect a passenger’s fare: Age may affect the fare if they offer discounts to children or seniors. Family size may affect fare as families may pay more if they are larger. Passenger class may affect fare as 1st class, 2nd class, and 3rd class all have different costs. 
- List all available features: survived, pclass, sex, age, sibsp, parch, fare, embarked, class, who, adult_male, deck, embark_town, alive, alone
- Which other features could improve predictions and why:
- How many variables are in your Case 4:
- Which variable(s) did you choose for Case 4 and why do you feel those could make good inputs:

# Section 4: Train a Regression Model (Linear Regression)

# Section 5: Compare Alternative Models (Ridge, Elastic Net, Polynomial Regression)

# Section 6: Final Thoughts & Insights